body {
  /* width: fit-content; */
  /* display: grid; */
  justify-items: center;
  width: 360;
}

.img-blog {
  height: 250px;
  border-radius: 16px;
}

.container-2 {
  padding: 15px 0 0 0;
  width: auto;
}

.grid-2 {
  /* justify-content: center;
  align-content: center;
  display: flex; */
  /* height: 40vh; */
  width: auto;

  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
/* padding: 15px 0 0 0; */
}
