

ul{
    position: relative;
    right: 0;
}

ul li{
    display: inline;
    padding-right: 19px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    right: 0;
}

.btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

.nav{
display: flex;
justify-content: center;
align-content: center;
position: fixed;
}